<div id="navbar">
  <div class='website-owner'>
    <%= website_user.name %>
  </div>
  <div class='website-links'>
    <ul>
      <li> Work </li>
      <li> Resume </li>
      <li> About </li>
    </ul>
  </div>
</div>
