<div class='projects-show'>
  <div class='show-header'>
    <div class='project-name'>
      <%= @project.title %>
    </div>
    <!-- <div class='navigation'>
      Previous
      Next
    </div> -->
  </div>

  <div class='project-division'> </div>

  <div class='project-text'>
    <%= @project.description %>
  </div>

  <div class='project-images'>
  </div>

</div>
