@font-face {
  font-family: "Minion Pro Regular";
  src: font-url("MinionPro-Regular.otf") format("truetype");
}

@font-face {
  font-family: "DIN Pro Light";
  src: font-url("DINPro-Light.ttf") format("truetype");
}


body {
  background: #D1D2D4;
  font-family: "DIN Pro Light";
}

.navbar {
  max-width: 1265px;
  padding-left: 40px;
  padding-top: 40px;

  .website-owner {
    display: inline;
    padding: 5px;
    background-color: white;
    font-family: "DIN Pro Light";
    color: #8FBCC8;
    text-transform: Uppercase;
    font-size: 38px;
  }
  .website-links {
    display: inline;
    ul {
      display: inline;
      list-style-type: none;
      float: right;
      margin-top: 29px;

      li {
        display: inline;
        display: inline;
        padding: 5px;
        background-color: white;
        margin-left: 10px;

        a {
          color: #8FBCC8;
          text-decoration: blink;
          text-transform: Uppercase;
        }

        a:hover {
          color: black;
        }
      }
    }
  }
}
